
body {
    padding-top: 40px;
    position: relative;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/*table.rowlink {width:500px;border-collapse:collapse;}*/
/*table.rowlink tr {background-color:#fff; border-bottom: 1px #99b solid;}*/

/*table.rowlink td {display:table-cell;border-bottom: 1px #99b solid; padding:0px;}*/
table.rowlink tr:hover {
    background-color:#ffe;
}

table.rowlink td a {
    text-decoration: none; 
    display: block; 
    padding: 0px; 
    height: 100%;
}
