<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <label>Search:</label>
      <input ng-model="query" />
      <label>Sort by:</label>
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
      </select>
    </div>
    <div class="span10">
      <table class="table table-striped rowlink">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Location</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | filter:query | orderBy:orderProp">
            <td>
              <a href="#/item/{{item.id}}">
                {{item.id}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.name}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.location}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.quantity}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!--
      <ul class="items">
        <li ng-repeat="item in items | filter:query | orderBy:orderProp" class="thumbnail">
-          <a href="#/item/{{item.id}}" class="thumb"><img ng-src="{{item.picture_path}}"></a>
-          <a href="#/item/{{item.id}}">{{item.name}}</a>
-          <p>{{item.info}}</p>          
        </li>
        -->
    </div>
  </div>
</div>
