<div class="container-fluid">
  <div class="row-fluid">    
    <div class="span3">
      <div class="well sidebar-na">
          <label>Search:</label>
          <input ng-model="query" ng-change="filter()" />
          <label>Sort by:</label>
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
          </select>
        <!-- <div class="container" ng-controller="LabelsCtrl"> -->
        <!--   <div class="row-fluid"> -->
        <!--     <ul class="labelcloud span3" > -->
        <!--       <li class="labelcloud" ng-repeat="label in labels"> -->
        <!--         <span class="label labelcloud" ng-click="addFilter(label)"> -->
        <!--           {{label}} -->
        <!--         </span> -->
        <!--       </li> -->
        <!--     </ul> -->
        <!--   </div> -->
        <!--     <h4 ng-show="filterLabels.length > 0">Selected labels</h4> -->
        <!--   <div class="row-fluid"> -->

        <!--     <ul class="labelcloud span3"> -->
        <!--       <li class="labelcloud" ng-repeat="label in filterLabels"> -->
        <!--         <span class="label labelcloud-filter" ng-click="removeFilter(label)"> -->
        <!--           {{label}} -->
        <!--         </span> -->
        <!--       </li> -->
        <!--     </ul> -->
        <!--   </div> -->
        <!-- </div> -->
        <!-- <input model="itemService.filterLabels" name="itemService.filterLabels" /> -->
      </div>
    </div><!--span-->
    <div class="span9">
      <pagination num-pages="noOfPages" current-page="currentPage"
                  ng-click="selectPage(page.number)" />
      <table class="table table-striped rowlink">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Location</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | orderBy:orderProp">
            <td>
              <a href="#/item/{{item.id}}">
                {{item.id}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.name}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.location}}
              </a>
            </td>
            <td>
              <a href="#/item/{{item.id}}">
                {{item.quantity}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination num-pages="noOfPages" current-page="currentPage"
                  ng-click="selectPage(page.number)" />

    </div>
  </div>
</div>
