<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <label>Search:</label>
      <input ng-model="query" />
      <label>Sort by:</label>
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
      </select>
    </div>
    <div class="span10">
      <table class="table items">
        <tr ng-repeat="item in items | filter:query | orderBy:orderProp" class="thumbnail">
          <td>lol</td>
        </tr>
      </table>
      <!--
      <ul class="items">
        <li ng-repeat="item in items | filter:query | orderBy:orderProp" class="thumbnail">
-          <a href="#/item/{{item.id}}" class="thumb"><img ng-src="{{item.picture_path}}"></a>
-          <a href="#/item/{{item.id}}">{{item.name}}</a>
-          <p>{{item.info}}</p>          
        </li>
        -->
    </div>
  </div>
</div>
